<h1 id="myName">Janette Salia Lopez</h1>
<h2 id="info">.Net Web Deveoloper ~ in progress of learning more</h2>
<img id="meImg" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAzqAAAAJDQzN2MxOWZlLWI4MGMtNDgzYy04MWFjLTJmYzkwNjhkMzE1Yg.jpg">
<h1 id="who">Who Am I ?</h1>
<p id="pgra">For none that do not know me my name is Janette Lopez
    born Februrary 19 , 1998 . I am 19 years of age 
    I Love animals and to hope soon help out the shelter community 
    I am a gamer and love to play COD : Black Opps Zombies
    I love Fashion and clothing
    I am new to the Developer world , I just got my full stack 
    Certificate from Coder Camps September 29 , 2017 and plan 
    to create greatness for the company I will work for.
</p>